<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Resume Builder</title>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</head>
<body>
    <h1>Resume Builder</h1>
    <nav>
        <button onclick="showSection('profile-section')">Profile</button>
        <button onclick="showSection('education-section')">Education</button>
        <button onclick="showSection('experience-section')">Experiences</button>
    </nav>
    <form id="resume-form">
        <div id="profile-section" style="display: none;">
            <label for="name">Name:</label>
            <input type="text" name="name" required>
            <br>
            <label for="surname">Surname:</label>
            <input type="text" name="surname" required>
            <br>
            <label for="location">Location:</label>
            <input type="text" name="location" required>
            <br>
            <label for="email">Email:</label>
            <input type="email" name="email" required>
            <br>
            <label for="website">Website:</label>
            <input type="url" name="website">
            <br>
        </div>
        
        <div id="education-section" style="display: none;">
            <div id="school-fields">
                <label for="school_name">School Name:</label>
                <input type="text" name="school_name[]" required>
                <br>
                <label for="school_location">School Location:</label>
                <input type="text" name="school_location[]" required>
                <br>
                <label for="degree">Degree:</label>
                <input type="text" name="degree[]" required>
                <br>
                <label for="major">Major:</label>
                <input type="text" name="major[]" required>
                <br>
                <label for="gpa">GPA:</label>
                <input type="text" name="gpa[]" required>
                <br>
                <label for="start_date">Start Date:</label>
                <input type="date" name="start_date[]" required>
                <br>
                <label for="end_date">End Date:</label>
                <input type="date" name="end_date[]" required>
                <br>
            </div>
            <div id="add-school-button-container">
                <button type="button" onclick="addSchool()">Add School</button>
            </div>
        </div>

        <div id="experience-section" style="display: none;">
            <div id="experience-fields">
                <label for="company_name[]">Company Name</label>
                <input type="text" name="company_name[]" required>
                <br>
                <label for="job_title[]">Job Title</label>
                <input type="text" name="job_title[]" required>
                <br>
                <label for="job_location[]">Job Location</label>
                <input type="text" name="job_location[]" required>
                <br>
                <label for="start_date[]">Start Date</label>
                <input type="date" name="start_date[]" required>
                <br>
                <label for="end_date[]">End Date</label>
                <input type="date" name="end_date[]" required>
                <br>
                <label for="job_responsibilities[]">Job Responsibilities </label>
                <textarea name="job_responsibilities[]" required></textarea>
            </div>
            <div id="add-experience-button-container">
                <button type="button" onclick="addExperience()">Add Experience</button>
            </div>
        </div>
        
        
        <button type="button" onclick="buildResume()">Build Resume</button>
    </form>
</body>
</html>
